<!-- Sidebar Start -->
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div>
        <div class="brand-logo d-flex align-items-center justify-content-between">
            <a href="/">
                <h3> &#127808; Hobby Hobby</h3>
            </a>
            <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
                <i class="ti ti-x fs-8"></i>
            </div>
        </div>
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
            <ul id="sidebarnav">
                <li class="nav-small-cap">
                    <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                </li>

                <li class="nav-small-cap">
                    <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                    <span class="hide-menu">게시판</span>
                </li>

                <li class="sidebar-item">
                    <a aria-expanded="false" class="sidebar-link" href="/board/list">
                <span>
                  <i class="ti ti-article"></i>
                </span>
                        <span class="hide-menu">게시판 목록</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a aria-expanded="false" class="sidebar-link" href="./ui-alerts.html">
                <span>
                  <i class="ti ti-alert-circle"></i>
                </span>
                        <span class="hide-menu">갤러리 게시판 목록</span>
                    </a>
                </li>

                <li class="nav-small-cap">
                    <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                    <span class="hide-menu">채팅방</span>
                </li>

                <li class="sidebar-item">
                    <a aria-expanded="false" class="sidebar-link" href="/room/roomList">
                <span>
                  <i class="ti ti-cards"></i>
                </span>
                        <span class="hide-menu">채팅방 목록</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a aria-expanded="false" class="sidebar-link" href="./ui-forms.html">
                <span>
                  <i class="ti ti-file-description"></i>
                </span>
                        <span class="hide-menu">태그</span>
                    </a>
                </li>

                <li class="nav-small-cap">
                    <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                    <span class="hide-menu">AUTH</span>
                </li>
                {{#loginUser}} <!-- 로그인한 경우 -->
                {{loginUser}}!
                <li class="sidebar-item">
                    <a aria-expanded="false" class="sidebar-link" href="/member/logout">
            <span>
                <i class="ti ti-user-minus"></i>
            </span>
                        <span class="hide-menu">로그아웃</span>
                    </a>
                </li>
                {{/loginUser}}

                {{^loginUser}} <!-- 로그인하지 않은 경우 -->
                <li class="sidebar-item">
                    <a aria-expanded="false" class="sidebar-link" href="/member/login">
            <span>
                <i class="ti ti-login"></i>
            </span>
                        <span class="hide-menu">로그인</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a aria-expanded="false" class="sidebar-link" href="/member/register">
            <span>
                <i class="ti ti-user-plus"></i>
            </span>
                        <span class="hide-menu">회원가입</span>
                    </a>
                </li>
                {{/loginUser}}


            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!--  Sidebar End -->