<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias alias="MemberDto" type="com.besp.likebesp1.member.dto.MemberDto"/>
    </typeAliases>

    <mappers>
        <!--  sql 쿼리를 두는 곳  Guestbook.xml 파일을 만들어야 한다  -->
        <!--  src/main/resources 폴더에 두자 -->
        <mapper resource="mapper/Member.xml"/>

    </mappers>
</configuration>