<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias alias="MemberDto" type="com.besp.likebesp1.member.dto.MemberDto"/>
        <typeAlias alias="BoardDto" type="com.besp.likebesp1.board.entity.BoardDto"/>
        <typeAlias alias="PostDto" type="com.besp.likebesp1.post.entity.PostDto"/>
    </typeAliases>

    <typeHandlers>
        <typeHandler handler="org.apache.ibatis.type.LocalDateTimeTypeHandler" javaType="java.time.LocalDateTime"/>
    </typeHandlers>

    <mappers>
        <!--  sql 쿼리를 두는 곳  Guestbook.xml 파일을 만들어야 한다  -->
        <!--  src/main/resources 폴더에 두자 -->
        <mapper resource="mapper/Member.xml"/>
        <mapper resource="mapper/Board.xml"/>
        <mapper resource="mapper/Post.xml"/>

    </mappers>

</configuration>