{{> layout/header}}

<body>
<div>
    <div class="container" style="margin-top:80px">
        <h2>게시글 상세</h2>

        <table class="table table-hover " style="margin-top: 30px;">
            <colgroup>
                <col width="25%">
                <col width="*">
            </colgroup>

            <tbody>
            <tr>
                <td>제목</td>
                <td>{{post.postTitle}}</td>
            </tr>
            <tr>
                <td>내용</td>
                <td>{{post.content}}</td>
            </tr>
            <tr>
                <td>작성자</td>
                <td>{{post.username}}</td>
            </tr>
            <tr>
                <td>작성일</td>
                <td>{{post.createdDate}}</td>
            </tr>
            </tbody>
        </table>

        <div class="container mt-3" style="text-align:right;">
            <a class="btn btn-primary" href="/boards/{{boardId}}/posts/{{postId}}/edit">수정하기</a>
            <a class="btn btn-secondary" href="/boards/{{post.boardId}}/posts">목록으로</a>
        </div>

        <div>
            {{> cmntView}}
        </div>
    </div>
</div>
</body>
