{{> layout/header}}

<div>
    <div class="container" style="margin-top:80px">
        <h2>게시글 상세</h2>

        <table class="table table-hover " style="margin-top: 30px;">
            <colgroup>
                <col width="25%">
                <col width="*">
            </colgroup>

            <tbody>
            <tr>
                <td>제목</td>
                <td>{{post.postTitle}}</td>
            </tr>
            <tr>
                <td>내용</td>
                <td>{{post.content}}</td>
            </tr>
            <tr>
                <td>작성자</td>
                <td>{{post.username}}</td>
            </tr>
            <tr>
                <td>작성일</td>
                <td>{{post.createdDate}}</td>
            </tr>
            </tbody>
        </table>

        <!-- 수정 폼 -->
        <div id="updatePostForm" style="display: none; margin-top: 20px;">
            <input type="text" class="form-control" id="updatePostTitle" placeholder="수정할 제목을 입력하세요">
            <textarea class="form-control" id="updatePostContent" placeholder="수정할 내용을 입력하세요" style="resize: vertical; margin-top: 10px;"></textarea>
            <div style="display: flex; justify-content: flex-end; margin-top: 10px;">
                <input class="btn btn-primary" id="btnSubmitUpdatePost" type="button" value="등록">
            </div>
        </div>

        <div class="container mt-3" style="text-align:right;">
            <button id="btnUpdatePost" class="btn btn-primary">수정하기</button>
            <button id="btnDeletePost" class="btn btn-danger">삭제하기</button>
            <a class="btn btn-secondary" href="/boards/{{post.boardId}}/posts">목록으로</a>
        </div>

        <div>
            {{> cmntView}}
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        // 게시글 수정
        $("#btnUpdatePost").click(function() {
            var postId = {{post.postId}};
            var updatePostForm = $("#updatePostForm");
            updatePostForm.show();
        });

        $("#btnSubmitUpdatePost").click(function() {
            var postId = {{post.postId}};
            var postTitle = $("#updatePostTitle").val();
            var content = $("#updatePostContent").val();
            var url = "/boards/{{post.boardId}}/posts/" + postId;

            // AJAX 요청 보내는 코드 작성
            $.ajax({
                url: url,
                method: "PATCH",
                data: {
                    postTitle: postTitle,
                    content: content
                },
                success: function (response) {
                    // 요청이 성공했을 때 처리할 내용
                    console.log("수정 요청이 성공했습니다.");
                    location.href = "/boards/{{post.boardId}}/posts/" + postId;
                },
                error: function (error) {
                    // 요청이 실패했을 때 처리할 내용
                    console.log("수정 요청이 실패했습니다.");
                    alert("수정 요청이 실패했습니다.");
                }
            });
        });

        // 게시글 삭제
        $("#btnDeletePost").click(function() {
            var postId = {{post.postId}};
            var url = "/boards/{{post.boardId}}/posts/" + postId;

            // AJAX 요청 보내는 코드 작성
            $.ajax({
                url: url,
                method: "DELETE",
                success: function (response) {
                    // 요청이 성공했을 때 처리할 내용
                    console.log("삭제 요청이 성공했습니다.");
                    location.href = "/boards/{{post.boardId}}/posts";
                },
                error: function (error) {
                    // 요청이 실패했을 때 처리할 내용
                    console.log("삭제 요청이 실패했습니다.");
                    alert("삭제 요청이 실패했습니다.");
                }
            });
        });
    });
</script>
