{{> layout/header}}

<body>
{{>layout/sidebar}}
<!--  Body Wrapper -->
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed" style="margin-left: 250px;">
    <div class="container" style="margin-top:80px">
        <h5 class="card-title fw-semibold">
            <h5 aria-expanded="false" class="sidebar-link" href="/board/list">
                {{board.boardName}}
            </h5>
        </h5>

        <div class="container mt-3" style="text-align:right;">
            <a class="text-primary" href="/boards/{{boardId}}/posts/new">👉 여기를 클릭하여 하비들과 소통을 시작하세요 !</a>
        </div>

        <div class="row" style="margin-top: 30px;">
            {{#postList}}
            <div class="col-md-4 d-flex align-items-stretch">
                <a href="/boards/{{boardId}}/posts/{{postId}}" class="text-decoration-none text-dark">
                    <div class="card w-100">
                        <div class="card-body">
                            <h5 class="card-title">{{postTitle}}</h5>
                            <p class="card-text">{{username}}<br>작성일: {{createdDate}}</p>
                        </div>
                    </div>
                </a>
            </div>
            {{/postList}}
        </div>

    </div>
</div>
</body>
