<div class="container-fluid">
    <div class="col-lg-11 d-flex align-items-stretch">
        <div class="card w-100">
            <div class="card-body p-4">
                <div class="mb-4">
                    <h5 class="card-title fw-semibold mb-4"> 댓글  </h5>
                </div>
                <div>
                    {{#cmntList}}
                    <ul>
                        <div class="card w-100" style="border-radius: 15px; box-shadow: 0 0.5em 1em -0.125em rgba(108, 68, 162, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.02);">
                            <div class="card-body p-4" style="color: #333; font-size: 16px;">

                                <!--TODO: 작성자 아이디가 보이게끔 변경-->

                                <li id="username-{{cmntId}}" style="margin-bottom: 10px;"><strong>{{username}}</strong></li>
                                <li style="margin-bottom: 20px;">{{content}}</li>
                                <div style="display: flex; justify-content: flex-end; align-items: center;">
                                    <span style="color: #888; font-size: 14px; margin-right: 20px;">{{createdDate}}</span>
                                    <div>
                                        <input class="btn btn-primary" id="btnReply-{{cmntId}}" style="margin-right: 10px;" type="button" value="답글달기">
                                        <input class="btn btn-secondary" id="btnUpdateCmnt-{{cmntId}}" style="margin-right: 10px;" type="button" value="수정">
                                        <input class="btn btn-danger" id="btnDeleteCmnt-{{cmntId}}" type="button" value="삭제">
                                    </div>
                                </div>

                                <!-- 수정 폼 -->
                                <div id="updateForm-{{cmntId}}" style="display: none; margin-top: 20px;">
                                    <textarea class="form-control" id="updateContent-{{cmntId}}" placeholder="수정할 내용을 입력하세요" style="resize: vertical;"></textarea>
                                    <div style="display: flex; justify-content: flex-end; margin-top: 10px;">
                                        <input class="btn btn-primary" id="btnSubmitUpdate-{{cmntId}}" type="button" value="등록">
                                    </div>
                                </div>

                                <!-- 답글 달기 폼 -->
                                <div id="replyForm-{{cmntId}}" style="display: none; margin-top: 20px;">
                                    <textarea class="form-control" id="replyContent-{{cmntId}}" placeholder="답글 내용을 입력하세요" style="resize: vertical;"></textarea>
                                    <div style="display: flex; justify-content: flex-end; margin-top: 10px;">
                                        <input class="btn btn-primary" id="btnSubmitReply-{{cmntId}}" type="button" value="등록">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </ul>

                    {{/cmntList}}
                </div>
                </div>
            </div>
        </div>
    </div>

    {{>cmntWrite}}
</div>
<script>
    $(document).ready(function() {
        //업데이트
        $("input[id^='btnUpdateCmnt-']").click(function() {
            var cmntId = $(this).attr("id").split("-")[1];
            var updateForm = $("#updateForm-" + cmntId);
            updateForm.show();
        });

        $("input[id^='btnSubmitUpdate-']").click(function() {
            var cmntId = $(this).attr("id").split("-")[1];
            var updateContent = $("#updateContent-" + cmntId).val();
            var url = "/cmnt/" + cmntId;

            // AJAX 요청 보내는 코드 작성
            var confirmUpdate = confirm("정말로 수정하시겠습니까?");
            if (confirmUpdate) {
                $.ajax({
                    url: url,
                    method: "PATCH",
                    data: {
                        content: updateContent
                    },
                    success: function (response) {
                        // 요청이 성공했을 때 처리할 내용
                        console.log("수정 요청이 성공했습니다.");
                        location.href=currentUrl;
                    },
                    error: function (error) {
                        // 요청이 실패했을 때 처리할 내용
                        console.log("수정 요청이 실패했습니다.");
                        location.href=currentUrl;
                    }
                });
            }
        });

        //답글달기
        $("input[id^='btnReply-']").click(function() {
            var cmntId = $(this).attr("id").split("-")[1];
            var replyForm = $("#replyForm-" + cmntId);
            replyForm.show();
        });

        $("input[id^='btnSubmitReply-']").click(function() {
            var cmntId = $(this).attr("id").split("-")[1];
            var username = $("#username-" + cmntId).text();
            var replyContent = $("#replyContent-" + cmntId).val();
            var url = "/cmnt/" + parsedNumber + "/reply";

            // AJAX 요청 보내는 코드 작성
            var confirmReply = confirm("정말로 답글을 등록하시겠습니까?");
            if (confirmReply) {
                $.ajax({
                    url: url,
                    method: "POST",
                    data: {
                        content: username + "님에게 답글... >  " + replyContent
                    },
                    success: function (response) {
                        // 요청이 성공했을 때 처리할 내용
                        console.log("답글 등록 요청이 성공했습니다.");
                        location.href=currentUrl;
                    },
                    error: function (error) {
                        // 요청이 실패했을 때 처리할 내용
                        console.log("답글 등록 요청이 실패했습니다.");
                        location.href=currentUrl;
                    }
                });
            }
        });
    });
</script>