{{>layout/header}}

<body>
<!--  Body Wrapper -->
<div class="page-wrapper" data-header-position="fixed" data-layout="vertical" data-navbarbg="skin6" data-sidebar-position="fixed"
     data-sidebartype="full" id="main-wrapper">

    {{>layout/sidebar}}

    <!--  Main wrapper -->
    <div class="body-wrapper">
        <div class="container-fluid">
            <!--  Row 1 -->
            <div class="row">
                <div class="col-lg-6 d-flex align-items-strech">
                    <div class="card w-100">
                        <div class="card-body">
                            <div class="mb-4">
                                <h5 class="card-title fw-semibold"> &#128293; 인기글 &#128293;</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 d-flex align-items-strech">
                    <div class="card w-100">
                        <div class="card-body">
                            <div class="mb-4">
                                <h5 class="card-title fw-semibold">
                                    &#127939; 사람 많은 채팅방</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Row 2 -->
            <div class="row">
                <div class="col-lg-4 d-flex align-items-stretch">
                    <div class="card w-100">
                        <div class="card-body p-4">
                            <div class="mb-4">
                                <h5 class="card-title fw-semibold">
                                    &#x1F3AF; 취향저격 게시판
                                    </h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 d-flex align-items-stretch">
                    <div class="card w-100">
                        <div class="card-body p-4">
                            <h5 class="card-title fw-semibold mb-4"> &#128582; 일일 방문자 현황 </h5>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Row 3 -->
            <div class="row">
                <div class="mb-4">
                    <h5 class="card-title fw-semibold">오늘의 사진</h5>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="card overflow-hidden rounded-2">
                        <div class="card-body pt-3 p-4">
                            <h6 class="fw-semibold fs-4">Boat Headphone</h6>
                            <div class="d-flex align-items-center justify-content-between">
                                image
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="card overflow-hidden rounded-2">
                        <div class="card-body pt-3 p-4">
                            <h6 class="fw-semibold fs-4">MacBook Air Pro</h6>
                            <div class="d-flex align-items-center justify-content-between">
                                image
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="card overflow-hidden rounded-2">
                        <div class="card-body pt-3 p-4">
                            <h6 class="fw-semibold fs-4">Red Valvet Dress</h6>
                            <div class="d-flex align-items-center justify-content-between">
                                image
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="card overflow-hidden rounded-2">
                        <div class="card-body pt-3 p-4">
                            <h6 class="fw-semibold fs-4">Cute Soft Teddybear</h6>
                            <div class="d-flex align-items-center justify-content-between">
                                image
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="py-6 px-6 text-center">
                <p class="mb-0 fs-4">Design and Developed by <a class="pe-1 text-primary text-decoration-underline" href="https://adminmart.com/"
                                                                target="_blank">AdminMart.com</a>
                    Distributed by <a href="https://themewagon.com">ThemeWagon</a></p>
            </div>
        </div>
    </div>
</div>

</body>