{{>layout/header}}

<body>
{{>layout/sidebar}}
<!--  Body Wrapper -->
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed" style="margin-left: 250px;">
  <div class="container" style="margin-top:80px">
    <h5 class="card-title fw-semibold">
      <h5 aria-expanded="false" class="sidebar-link" href="/board/list">
        &#x1F3AF; 취향저격 게시판
      </h5>
    </h5>

    <div class="container mt-3" style="text-align:right;">
      <a class="text-primary" href="/board/add">👉 여기를 클릭하여 게시판을 만들어 보세요 !</a>
    </div>

    <div class="row">
      {{#boardList}}
      <div class="col-md-4 d-flex align-items-stretch">
        <a href="/boards/{{boardId}}/posts" class="text-decoration-none text-dark">
          <div class="card w-100">
            <div class="card-body">
              <h5 class="card-title">
                {{boardName}} <small class="text-muted">#{{boardId}}</small>
              </h5>
              <p class="card-text">생성일: {{createdDate}}</p>
            </div>
          </div>
        </a>
      </div>
      {{/boardList}}
    </div>

    <div class="container mt-3" style="text-align:center;">
      <ul class="pagination justify-content-center">
        {{{pagingTags}}}
      </ul>
    </div>

  </div>
</div>
<script>
  function goPage(pageNumber) {
    window.location.href = "/board/list?page=" + pageNumber;
  }
</script>
</body>
