{{>layout/header}}
<body>
<form name="myform" id="myform">
    <div class="container" style="margin-top:80px">
        <h2>게시판 상세</h2>
        <table class="table table-hover " style="margin-top:30px;">
            <tbody>
                {{#imgBoardView}}
                <tr class="table-secondary">
                    <th>제목</th>
                    <td colspan="5">{{title}}</td>
                </tr>
                <tr>
                    <th >작성자</th>
                    <td>{{writer}}</td>
                    <th >파일명</th>
                    <td>{{filename}}</td>
                    <th >작성일</th>
                    <td>{{createdDate}}</td>
                </tr>
                <tr>
                    <td colspan="6"><img src="{{filepath}}" alt="이미지" width="500" height="500" /></td>
                </tr>
                {{/imgBoardView}}
            </tbody>
        </table>

        <div class="container mt-3" style="text-align:right;">
            <button type="button" class="btn btn-secondary" id="btnUpdate">수정</button>
            <button type="button" class="btn btn-secondary" id="btnDelete">삭제</button>
        </div>
    </div>
</form>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $("#btnUpdate").click(function () {
            location.href = "/imgBoard/update/{{imgBoardView.imgBoardId}}";
        });
        $("#btnDelete").click(function() {
            if (confirm("게시물을 삭제하시겠습니까?")) {
                $.ajax({
                    url: "/imgBoard/delete/{{imgBoardView.imgBoardId}}",
                    type: "GET",
                    success: function(file) {
                        alert("게시물이 삭제되었습니다.");
                        location.href = "/imgBoard/list/0";
                    },
                    error: function() {
                        alert("게시물 삭제 중 오류가 발생했습니다.");
                    }
                });
            }
        });
    });
</script>