{{>layout/header}}
<body>
{{>layout/sidebar}}
<form name="myform" id="myform">
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
         data-sidebar-position="fixed" data-header-position="fixed" style="margin-left: 300px;">
        <div class="container-fluid" style="margin-top:80px">
            <div class="col-lg-11 d-flex align-items-stretch">
                <div class="card w-100" style="margin-top: 30px;">
                    <div class="card-body p-4">
                        <div class="mb-4">
                            <div class="card w-100" style="padding: 20px; border-radius: 15px; box-shadow: 0 0.5em 1em -0.125em rgba(108, 68, 162, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.02);">
                                <div class="card-body p-4" style="color: #333; font-size: 16px;">
                                    <div class="card-body p-4" style="color: #333; font-size: 16px;">
                                        {{#imgBoardView}}
                                        <h2>{{title}}</h2></br>
                                        <p class="text-muted" style="text-align: right">{{writer}}</p>
                                        <p class="text-muted" style="text-align: right">{{createdDate}}</p>
                                        <img src="{{filepath}}" alt="이미지" width="500" height="500" />
                                        {{/imgBoardView}}
                                    </div>
                                </div>
                            </div>
                            <div class="container mt-3" style="text-align:right;">
                                <button type="button" class="btn btn-primary m-1" id="btnUpdate">수정</button>
                                <button type="button" class="btn btn-primary m-1" id="btnDelete">삭제</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $("#btnUpdate").click(function () {
            location.href = "/imgBoard/update/{{imgBoardView.imgBoardId}}";
        });
        $("#btnDelete").click(function() {
            if (confirm("게시물을 삭제하시겠습니까?")) {
                $.ajax({
                    url: "/imgBoard/delete/{{imgBoardView.imgBoardId}}",
                    type: "GET",
                    success: function(file) {
                        alert("게시물이 삭제되었습니다.");
                        location.href = "/imgBoard/list/0";
                    },
                    error: function() {
                        alert("게시물 삭제 중 오류가 발생했습니다.");
                    }
                });
            }
        });
    });
</script>