{{>layout/header}}
<body>
{{>layout/sidebar}}
  <form name="myform" id="myform">
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
         data-sidebar-position="fixed" data-header-position="fixed" style="margin-left: 300px;">
      <div class="container" style="margin-top: 80px;">
        <div class="row" style="margin-top: 30px;">
          {{#imgBoardList}}
          <div class="col-md-4 d-flex align-items-stretch">
            <a href="/imgBoard/view/{{imgBoardId}}" class="text-decoration-none text-dark">
              <div class="card w-100">
                <div class="card-body">
                  <h5 class="card-title">{{title}}</h5>
                  <p class="card-title">{{filename}}</p></br>
                  <p class="card-text">{{writer}}</p>
                  <p class="card-text">{{createdDate}}</p>
                </div>
              </div>
            </a>
          </div>
          {{/imgBoardList}}
        </div>

        <ul class="pagination  justify-content-center">
          {{{page}}}
        </ul>

        <div class="container mt-3" style="text-align:right;">
          <button type="button" class="btn btn-secondary" id="btnUpload">게시글 작성</button>
        </div>
        <br/><br/><br/>
      </div>
      </div>
    </div>
  </form>
</body>

<script>
  function goPage(pg)
  {
    frm = document.myform;
    frm.method = "get";
    frm.action = "/imgBoard/list/" + pg;
    frm.submit();
  }

  $(document).ready(function() {
    $("#btnUpload").click(function () {
      location.href = "/imgBoard/upload";
    });
  });
</script>
