{{>layout/header}}
<body>
{{>layout/sidebar}}
  <form name="myform" id="myform">
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
         data-sidebar-position="fixed" data-header-position="fixed">
      <div class="body-wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col"  style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-around;">
              {{#imgBoardList}}
              <div class="card overflow-hidden rounded-2">
                <div class="position-relative">
                  <a href="/imgBoard/view/{{imgBoardId}}" ><img src="{{filepath}}" alt="이미지" width="250px" height="250px" /></a>
                </div>
                <div class="card-body pt-3 p-4">
                  <h6 class="fw-semibold fs-4">{{title}}</h6>
                  <div class="d-flex align-items-center justify-content-between">
                    <p class="card-text">{{writer}}</p>
                    <p class="card-text">{{createdDate}}</p>
                  </div>
                </div>
              </div>
              {{/imgBoardList}}
            </div>
            <ul class="pagination  justify-content-center">
              {{{page}}}
            </ul>
            <div class="uploadButton" style="text-align: right;">
              <button type="button" class="btn btn-primary m-1" id="btnUpload">게시글 작성</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</body>

<script>
  function goPage(pg)
  {
    frm = document.myform;
    frm.method = "get";
    frm.action = "/imgBoard/list/" + pg;
    frm.submit();
  }

  $(document).ready(function() {
    $("#btnUpload").click(function () {
      location.href = "/imgBoard/upload";
    });
  });
</script>
